/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00F1EC;
    min-height: 100vh;
    height: 100vh;
    
}

.clouds {
    height: 100vh;
    width: auto;
    background-image: url(./images/clouds.png);
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.decor_container {
    background-color: #52BB9D;
    width: 95%;
    height: 100%;
    margin: 40px;
    display: flex;
    justify-content: center;
    border: 1px solid red;
    border-radius: 6px;
}

.grid_container {
    min-width: 500px;
    min-height: 500px;
    border: 1px solid purple;
    display: inline-grid;
    margin-top: 100px;
}

.grid_square {
    background-color: purple;
    border: 1px solid red;
} */

/* Base Style */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #00F1EC;
    min-height: 100vh;
    height: 100vh;
}

h1 {
    font-family: 'Anton', sans-serif;
    color: #043425;
    font-size: 45px;
    margin-top: 20px;
    margin-left: 30px;
    width: 25%;
}

.clouds {
    height: 100vh;
    width: auto;
    background-image: url(./images/clouds.png);
}

/* Containers */

.contents {
    display: flex;
    justify-content: center;
}

.decor_container {
    border: 1px solid red;
    background-color: #52BB9D;
    width: 45%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -50px;
}

.decor_container:before {
    content: '';
    display: block;
    padding-top: 5%;
}

.grid_container {
    border: 1px solid red;
    min-width: 65%;
    background-color: #C8FDD9;
    display: inline-grid;
    margin-top: 50px;
    margin-bottom: 200px;
}

.grid_container:before {
    content: '';
    display: block;
    padding-top: 100%;
}

/* Beemo face */

.top_face {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    
}
.eye {
    border-radius: 50%;
    background-color: #1E1E1E;
    width: 3vw;
    height: 3vw;
}

.smile {
    border: 4px solid #1E1E1E;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    width: 7vw;
    height: 7vw;
    margin-top: -30px;
}

/* Mode Button */